@model Product

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
 <div class="row">
     <div class="col-md-12 mt-5">
         <div class="card mt-5">
             <div class="card-body">
 
                 <div class="form-group">
                     @foreach (var image in Model.Images)
                     {
                                <img src="~/assets/img/product/@image.ImgUrl" width="200" height="150" alt="" />
                     }
                 </div>
                 <div class="form-group">
                     <p>@Model.Desc</p>
                 </div>
                 <div class="form-group">
                     <h2>$@Model.Price</h2>
                 </div>
                @* <div class="form-group">
                            <img src="@Model.QrCode" class="img-thumbnail" width="200"/>
                 </div>*@
                        <button class="btn btn-primary" data-toggle="modal" data-target="#searchModal">Share</button>
                 <a class="btn btn-dark" asp-controller="ownproduct" asp-action="index">Back</a>


                        <div class="modal fade" id="searchModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Search Users</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Input Field and Search Button -->
                                        <input type="text" id="usernameInput" placeholder="Enter username">
                                        <button class="btn btn-primary" id="modalSearchButton">Search</button>

                                        <!-- Display Search Results with Scroll -->
                                        <div id="modalSearchResults" style="max-height: 300px; overflow-y: auto;"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
             </div>
         </div>
     </div>
 </div>     
</div>
</body>
</html>