@model ChangePasswordVM
@{
    Layout = null;
}

<!DOCTYPE html>

<section class="login-area pt-10">
    <div class="container-fluid custom-container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-wrapper mt-30">
                    <h4 class="allup-title">Login to Your Account</h4>
                    <div asp-validation-summary="ModelOnly"></div>
                    <form method="post">
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="CurrentPassword" placeholder="CurrentPassword">
                            <span asp-validation-for="CurrentPassword"></span>
                        </div>
                        <div class="single-form">
                            <input class="form-control form-control-lg" asp-for="NewPassword" placeholder="New Password">
                            <span asp-validation-for="NewPassword"></span>
                        </div>
                        <div class="single-form">
                            <input asp-for="ConfirmNewPassword" class="form-control form-control-lg" placeholder="Confirm New Password">
                            <span asp-validation-for="ConfirmNewPassword"></span>
                        </div>

                        <div class="single-form">
                            <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Change Password</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>